@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



:root{
    --main-txt : #280D4A;
    --sub-txt : rgba(40, 13, 74, 0.685);
    --white : #fff;

    --global-transition : all .4s ease-in-out;
}

.wrapper{
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: var(--white);
    overflow: hidden;
    overflow-y: auto;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}

.nav{
    width: 100%;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
    box-shadow : 2px 2px 15px #9841fc37;
}

.nav img{
    height: 50px;
}

a{
    text-decoration: none;
}

.navlinks{
    display: flex;
    align-items: center;
    gap: 40px;
}

.navlinks li{
    list-style-type: none;
    background: transparent;
    padding: 8px 12px;
    border-radius: 10px;
    cursor: pointer;
}

.link a{
    color: var(--main-txt);
}

.navlinks li:hover{
    transition: var(--global-transition);
    background: #894ed125;
}

/*====== hero =========*/
.hero{
    width: 100%;
    min-height: 400px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    background: linear-gradient(180deg, rgba(255, 58, 200, 0.17) 0%, rgba(231, 231, 231, 0.00) 100%);
    padding: 40px;
}

.hero-box01{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-top: 60px;
}

.head-txt{
    font-size: 60px;
    font-weight: 600;
    color: var(--main-txt);
}

.txt-sm{
    font-size: 16px;
    max-width: 400px;
    line-height: 1.5rem;
    color: var(--sub-txt);
}

.btn{
    max-width: 150px;
    height: 60px;
    border-radius: 10px;
    margin-top: 20px;
    background: var(--main-txt);
    border: 2px solid transparent;
    color: #fff;
    font-weight: 500;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
}

.btn svg{
    stroke: #fff;
}

.btn:hover{
    transition: var(--global-transition);
    border: 2px solid var(--main-txt);
    color: var(--main-txt);
    background: transparent;
}

.btn:hover svg{
    stroke: var(--main-txt);
}



.hero-box02 img{
    width: 560px;
}

/*============= cards ==========*/
.cards{
    width: 100%;
    padding: 40px;
    display: flex;
    gap: 60px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.card{
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    font-size: 15px;
    color: #280d4aaf;
}

.head-sm{
    font-size: 16px;
    font-weight: 400;
    color: #280D4A;
}

.card-grp{
    height: 200px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.icon-img{
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #6c256d0d;
    border-radius: 50%;
}

.icon-img svg{
    fill: #280D4A;
}

/*========= about =======*/
.about-sec{
    width: 100%;
    padding: 40px;
    padding-top: 60px;
}

.head{
    font-size: 48px;
    font-weight: 600;
    color: var(--main-txt);
    margin-bottom: 60px;
}

.grid-lay{
    width: 100%;
    min-height: 500px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 40px;
}

.grid01{
    width: 100%;
    height: 100%;
    background-color: #6c256d0d;
    border-radius: 10px;
}

.grid02{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.grid-cards{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px;
}

.card-vr{
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card-i{
    width: 60px;
    height: 60px;
    background-color: #6c256d0d;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-i svg{
    width: 30px;
    height: 30px;
    fill: #280D4A;
}

#target{
    width: 40px;
    height: 35px;
}
.card-txt{
    max-width: 90%;
    text-align: justify;
    color: #000000bb;
    font-size: 15px;
    line-height: 1.6;
}


/*image gallary*/

.image-gallary{
    padding: 40px;
}

section {
  --childs: 6;
  --gap: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.box {
  width: calc((100% / var(--childs)));
  box-sizing: border-box;
  min-width: 300px;
  height: 230px;
  cursor: pointer;
  border-radius: 5px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  transition: width 400ms 60ms ease-in-out;

  box-shadow: 2px 2px 15px #0c020c22;
}

.box:hover {
  width: calc((100% / (var(--childs) - 3)));
}

section:has(.box:hover) .box:not(:hover) {
  width: calc((100% / (var(--childs) + 1)));
}

.box-1 {
  background-image: url(./assets/img01.jpeg);
}

.box-2 {
    background-image: url(./assets/img02.jpeg);
}

.box-3 {
    background-image: url(./assets/img01.jpeg);
}

.box-4 {
    background-image: url(./assets/img01.jpeg);
}

.box-5 {
    background-image: url(./assets/img01.jpeg);
}



/*======= contact ========*/
.contact-sec{
    width: 100%;
    padding: 40px;
}

.contact-grid{
    width: 100%;
    min-height: 340px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding: 10px;
    background: #F3F1FE;
    color: var(--main-txt);
    border-radius: 10px;
    align-items: center;
    padding: 20px;
    gap: 40px;
}

.contact-head{
    font-size: 40px;
    font-weight: 600;
    color: var(--main-txt);
    margin-bottom: 20px;
}

.contact-txt{
    font-size: 16px;
    font-weight: 300;
    color: var(--main-txt);
    margin-bottom: 40px;
    max-width: 500px;
}

.contact-btn{
    width: 120px;
    height: 50px;
    border-radius: 10px;
    background-color: rgba(18, 2, 83, 0.87);
    color: rgba(255, 255, 255, 0.87);
    box-shadow: 2px 2px 15px #280d4a1b;
    border: none;
    cursor: pointer;
}

.contact-btn:hover{
    transform: scale(1.02);
    box-shadow: 2px 2px 15px #280d4a48;
    transition: var(--global-transition);
}

.contact02 iframe{
    height: 360px;
    border-radius: 10px;
    box-shadow: 2px 2px 15px #280d4a48;
}

/*======= footer ========*/
.foot{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 40px;
    text-align: center;
    gap: 20px;
}

.social-icons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.social-i{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    /* border: 1px solid #42424276; */
    cursor: pointer;
}

.build{
    color: #424242d3;
}





/*============== menu btn ===========*/

.icon-menu {
    --gap: 5px;
    --height-bar: 2.5px;
    --pos-y-bar-one: 0;
    --pos-y-bar-three: 0;
    --scale-bar: 1;
    --rotate-bar-one: 0;
    --rotate-bar-three: 0;
    min-width: 25px;
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    cursor: pointer;
    position: relative;
  }
  .dis{
    display: none;
} 
  
  .bar {
    position: relative;
    height: var(--height-bar);
    min-width: 100%;
    border-radius: .5rem;
    background-color: var(--main-txt);
  }
  
  .bar--1 {
    top: var(--pos-y-bar-one);
    transform: rotate(var(--rotate-bar-one));
    transition: top 200ms 100ms, transform 100ms;
  }
  
  .bar--2 {
    transform: scaleX(var(--scale-bar));
    transition: transform 150ms 100ms;
  }
  
  .bar--3 {
    bottom: var(--pos-y-bar-three);
    transform: rotate(var(--rotate-bar-three));
    transition: bottom 200ms 100ms, transform 100ms;
  }
  
  .check-icon:checked + .icon-menu > .bar--1 {
    transition: top 200ms, transform 200ms 100ms;
  }
  
  .check-icon:checked + .icon-menu > .bar--3 {
    transition: bottom 200ms, transform 200ms 100ms;
  }
  
  .check-icon:checked + .icon-menu {
    --pos-y-bar-one: calc(var(--gap) + var(--height-bar));
    --pos-y-bar-three: calc(var(--gap) + var(--height-bar));
    --scale-bar: 0;
    --rotate-bar-one: 45deg;
    --rotate-bar-three: -45deg;
  }
  /* FIN ICON-MENU */
  

/*================= brake points ==============*/
@media(max-width:1120px){
    .head-txt{
        font-size: 40px;
    }
}

@media(max-width:950px){
    .hero{
        grid-template-columns: 1fr;
        align-items: center;
    }
    .hero-box01{
        width: 100%;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .btn{
        width: 140px;
    }
    .hero-box02{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .contact-grid{
        grid-template-columns: 1fr;
    }
    .contact-sec iframe{
        width: 100%;
        height: 260px;
    }
}


@media(max-width:800px){
    .navlinks{
        display: block;
        position: absolute;
        right: 0;
        top: 64px;
        z-index: 10;
        width: 240px;
        background: #ffffff67;
        backdrop-filter: blur(5px);
        height: 100%;
        transform: translateX(200%);
        transition: all .4s ease-in-out;
    }
    .navlinks li{
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .hero{
        grid-template-columns: 1fr;
        align-items: center;
    }
    .hero-box01{
        width: 100%;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .btn{
        width: 140px;
    }
    .hero-box02{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .grid-lay{
        grid-template-columns: 1fr;
    }
    .grid01{
        height: 400px;
        width: 100%;
    }

    .hero{
        padding: 20px;
    }
    .cards{
        padding: 20px;
    }
    .about-sec{
        padding: 20px;
    }
    .contact-sec{
        padding: 20px;
    }
    .dis{
        display: flex;
    } 
    .nav{
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media(max-width:600px){
    .hero-box02 img{
        width: 100%;
    }
}

@media(max-width:540px){
    .box{
        min-width: 100%;
    }
    
}

.show{
    transform: translateX(0);
    transition: all .4s ease-in-out;
}

  
